@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
:root{

}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed; 
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}